<!DOCTYPE html>
<html lang="en" style="height: 100%">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/information.css">
</head>

<body style="height: 100%; margin: 0">
    <div class="information">
        <h1>Giới thiệu về hệ thống cảnh báo cháy</h1>
        <p>- Hệ thống cung cấp các thông số cho người dùng về nhiệt độ, độ ẩm, chỉ số TDS, chỉ số pH dưới dạng biểu đồ đường, 
            các số liệu được cập nhật 1 giờ 1 lần, giúp người dùng nhanh chóng nắm bắt được tình hình hiện tại của khu vực
        </p>
        <p>
            - Hệ thống được lắp đặt hiện đại, đầy đủ bởi các kỹ sư, đảm bảo sự an toàn cho khu vực nơi bạn sinh sống 
        </p>
        <p>- Ngoài ra, các quản trị viên cũng như bộ phận kỹ thuật sẵn sàng hỗ trợ cho bạn bất cứ kỳ nào có vấn đề xảy ra</p>
        <h1>Chi tiết các thông số của hệ thống</h1>
        <p>- Chỉ số số nhiệt độ: được xác định thông qua cảm biến nhiệt độ</p>
        <p>- Chỉ số độ ẩm: được xác định thông qua cảm biến độ ẩm</p>
        <p>- Chỉ số TDS: là chỉ số thể hiện tổng chất rắn hòa tan (tổng số các ion mang điện tích, bao gồm muối, khoáng chất hoặc kim loại) tồn tại trong một thể tích nước nhất định.
            Chất rắn hòa tan trong nước đến từ các nguồn nước tự nhiên, nước thải đô thị, nước thải công nghiệp và hóa chất được sử dụng trong quá trình xử lý nước hoặc rỉ sét từ đường ống được sử dụng để dẫn nước.
            Lý tưởng nhất, TDS cho nước uống phải dưới 300mg/lít và giới hạn tối đa được coi là an toàn là 500mg/lít - đây là mức lý tưởng cho nguồn nước giàu khoáng chất có lợi cho sức khỏe.
        </p>
        <p>- Chỉ số pH: Độ pH là chỉ số để xác định tính axit hay bazơ của nước hoặc một dung dịch. Theo đó, thang đo pH nằm trong khoảng 0-14. Nếu dung dịch có tính axit thì độ pH nằm trong khoảng 0 > 7. </p>
        <h1>Các loại cảnh báo của hệ thống</h1>
        <p>Nếu khu vực bạn ở nếu có xảy ra bất kỳ vấn đề về cháy nổ, rò rỉ khí gas cũng như nhiệt độ quá cao, hệ thống sẽ gửi cảnh báo đến giao diện người dùng</p>
        <p>- Cảnh báo cháy (nền đỏ)</p>
        <p>- Cảnh báo gas (nền xám)</p>
        <p>- Cảnh báo nhiệt (nền vàng cam)</p>
    </div>

</body>

</html>