<!DOCTYPE html>
<html lang="en" style="height: 100%">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/footer.css">
</head>

<body>
    <div class="footer">
        <div class="info-1">
            <h3>
                Hệ thống cảnh báo cháy 
            </h3>
            <p>Nhóm 15 - Project IOT</p>
        </div>
        <div class="info-2">
            <h3>Thông tin thành viên</h3>
            <p></p>
            <p>Trần Nam Anh - 20183687</p>
            <p></p>
        </div>
        <div class="info-3">
            <h3>Thông tin liên hệ</h3>
            <a href="https://github.com/namanh75/IOT_Nodejs">
            <p>GitHub</p>
            </a>
        </div>
    </div>
</body>

</html>